@import "~bootstrap/scss/functions";
@import "custom_variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Noto Serif TC', serif, sans-serif;
}

.btn-primary:hover {
    background-color: #7B6651;
}

p {
    margin-bottom: 0;
}

.bg-primary-40 {
    background-color: #F1EAE4;
}

.room-type-box {
    width: 97px;
    height: 97px;
}
