.swiper-button-prev,.swiper-button-next {
    width: 56px !important;
    height: 56px !important;
    border-radius: 56px !important;
    background-color: #fff !important;
    color: #4B4B4B !important;
    &::after {
        content: "" !important;
    }
}
.swiper-pagination {
    bottom: 18px !important;
    .swiper-pagination-bullet {
        width: 32px !important;
        height: 4px !important;
        border-radius: 3px !important;
        transform: scale(1) !important;
        background-color: #F1EAE4 !important;
        &-active {
            width: 60px !important;
            background-color: #BF9D7D !important;
        }
    }
}