.carousel-style{
    right: 0%;
    left: 0%;
    top: 100px;
    bottom: 0;
    //width: 100%;
}
.fs-100{
  font-size: 100px;
}
.banner-right{
  border-radius: 80px;
  backdrop-filter:blur(8px);
  -webkit-backdrop-filter:blur(8px);
  //min-width: 678px;
}
.m-120{
  margin-top: 120px;
}
.p-120{
  padding-top: 120px;
  padding-bottom: 120px;
}
.p-200{
  padding-bottom: 200px;
}
.h-100vh{
  height: 100vh;
}