.banner__editUser {
  background-image: url("https://images.unsplash.com/photo-1606744837616-56c9a5c6a6eb?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 384px;
  color: white;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 384px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  p {
    position: relative;
    z-index: 1;
  }
}

.quote {
  position: relative;
  padding: 0 0 0 12px;
  &-primary {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 24px;
      border-radius: 10px;
      background: var(--Primary-100, #bf9d7d);
    }
  }
  &-secondary {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 24px;
      border-radius: 10px;
      background: var(--secondary, #6c757d);
    }
  }
}
